.sub-component-with-background .code-calibration-combo-box *.list-cell {
    -fx-border-color: #3c3f41;
    -fx-border-width: 1 0 1 1;
}

.sub-component-with-background .code-calibration-combo-box *.arrow-button {
    -fx-border-color: #3c3f41;
    -fx-border-width: 1 1 1 0;
}

.sub-component-with-background .code-calibration-combo-box *.arrow {
    -fx-background-color: #3c3f41;
}

.sub-component-with-background .code-calibration-combo-box *.combo-box-popup *.list-view *.list-cell {
    -fx-border-width: 0;
}
