.btn {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #50c550;
}

.btn:hover {

    -fx-background-color: #50a005;
}

.input-text-field {
    -fx-focus-color: #50a005;
}

.invalid-input {
    -fx-text-box-border: #B22222;
    -fx-focus-color: #B22222;
}

.problem-details-label {
    -fx-text-fill: firebrick;
}


.code-calibration-title {
    -fx-text-fill: #0095ff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}