.status-bar {
    -fx-background-color: #e1e1e1;
    -fx-border-color: grey;
    -fx-border-width: 1 0 0 0;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar .status-label {
    -fx-text-fill: black;
}

.success-message-area {
    -fx-fill: #0095ff;
}

.error-message-area {
    -fx-fill: #cc5454;
}

.info-message-area {
    -fx-fill: #0095ff;
}