.status-bar {
    -fx-background-color: #3c3f41;
    -fx-border-color: grey;
    -fx-border-width: 1 0 0 0;
}

.status-label {
    -fx-text-fill: #aeb0b3;
}

.success-message-area {
    -fx-fill: #0095ff;
}

.error-message-area {
    -fx-fill: #cc5454;
}

.info-message-area {
    -fx-fill: #0095ff;
}