.label {
    -fx-text-fill: black;
}

.action-btn {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-background-color: #76d55d;*/
    -fx-background-color: #0095ff;
}

/*-fx-background-color: #50c550*/

.action-btn:hover {
    /*-fx-background-color: #489b54;*/
    -fx-background-color: #005c9a;
    -fx-cursor: HAND;
}

.action-btn:pressed {
    /*-fx-background-color: #50c550;*/
    -fx-background-color: #50b0ff;
}

.option-btn {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.component-with-border {
    -fx-border-color: grey;
}

.input-text-field {
    -fx-focus-color: #50a005;
}

.invalid-input-text-field {
    -fx-text-box-border: #B22222;
    -fx-focus-color: #B22222;
}

.error-label {
    -fx-text-fill: firebrick;
}

.success-label {
    -fx-text-fill: #50a005;
}

.scroll-bar *.thumb {
    -fx-background-color: grey;
}

.scroll-bar *.decrement-button *.decrement-arrow {
    -fx-background-color: grey;
}

.scroll-bar *.increment-button *.increment-arrow {
    -fx-background-color: grey;
}

.combo-box *.combo-box-popup {

}

.body-background {
    -fx-background-color: linear-gradient(to bottom, #92dcf1 7%, rgba(119, 172, 241, 0.95) 39%, #353396 100%)
}

.component-with-background {
    -fx-background-color: white;
}

.sub-component-with-background {
    -fx-background-color: #e7e7e7;
}

.sub-component-with-background .viewport * {
    -fx-background-color: #e7e7e7;
}

.component-title {
    -fx-text-fill: #0095ff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
