.label {
    -fx-text-fill: #aeb0b3;
}

.action-btn {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-background-color: #76d55d;*/
    -fx-background-color: #77afe1;
}

/*-fx-background-color: #50c550*/

.action-btn:hover {
    /*-fx-background-color: #489b54;*/
    -fx-background-color: #abc7ec;
    -fx-cursor: HAND;
}

.action-btn:pressed {
    /*-fx-background-color: #50c550;*/
    -fx-background-color: #87c1ff;
}

.option-btn {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.component-with-border {
    -fx-border-color: grey;
}

.input-text-field {
    -fx-focus-color: #50a005;
    -fx-background-color: #2b2b2c;
}

.invalid-input-text-field {
    -fx-text-box-border: #B22222;
    -fx-focus-color: #B22222;
}

.error-label {
    -fx-text-fill: firebrick;
}

.success-label {
    -fx-text-fill: #50a005;
}

.body-background {
    -fx-background-color: linear-gradient(to bottom, #353396 7%, rgb(60, 63, 65) 39%, #2b2b2c 100%)
}

.component-with-background {
    -fx-background-color: #3c3f41;
}

.sub-component-with-background {
    -fx-background-color: #2b2b2c;
}


.sub-component-with-background .viewport * {
    -fx-background-color: #2b2b2c
}


.component-title {
    -fx-text-fill: #77afe1;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

