.search-text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #b1b4b9;
}

.search-text-field:focused {
    -fx-border-color: #77afe1;
    -fx-border-width: 0 0 2 0;

}

.word-label {
    -fx-border-width: 1;
    -fx-border-color: #aeb0b3;
    -fx-border-radius: 10;
}

.word-label:hover {
    -fx-border-color: #eaeaea;
    -fx-background-color: #aeb0b3;
    -fx-background-radius: 10;
    -fx-text-fill: #3c3f41;
    -fx-cursor: HAND;
}