.settings-btn:hover {
    -fx-background-color: #e7e7e7;
}

.header-gridpane {
    -fx-background-color: white;
}

.settings-btn {
    -fx-background-color: transparent;
}

.file-path-label {
    -fx-font-size: 15px;
}

.enigma-title {
    -fx-text-fill: #0095ff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

