.sub-component-with-background .candidate-label-text {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.sub-component-with-background .tile {
    -fx-border-width: 2;
    -fx-border-color: rgba(0, 122, 222, 0.35);
    -fx-background-color: #2f2f6c;
    -fx-border-radius: 10deg;
    -fx-background-radius: 10deg;
}

.candidate-label-text {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tile {
    -fx-border-width: 2;
    -fx-border-color: rgba(0, 122, 222, 0.35);
    -fx-background-color: #2f2f6c;
    -fx-border-radius: 10deg;
    -fx-background-radius: 10deg;
}
