
.enigma-tab {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-padding: 2 9 2 9;
}

.enigma-tab:selected {
    -fx-focus-color: transparent;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #0095ff;
    -fx-background-insets: 4 0 0 0;
    -fx-border-insets: 2 0 0 0;
    -fx-border-radius: 1;
    -fx-padding: 0 9 2 9;
    -fx-background-color: #fafcfb;
}

.enigma-tab:hover {
    -fx-background-color: linear-gradient(to bottom, #e1e1e1 7%, rgb(250, 252, 251) 39%, #ffffff 100%)
}

.enigma-tab:hover.enigma-tab:selected {
    -fx-background-color: #fafcfb;
}

.enigma-tab:selected *.tab-label {
    -fx-text-fill: #0095ff;
}

.enigma-tab *.tab-label {
    -fx-font-weight: bold;
}

.enigma-tabpane *.tab-header-area {
    -fx-padding: 0 0 0 0;
}

.enigma-tabpane *.tab-header-area *.tab-header-background {
    -fx-background-color: #e7e7e7;
}

.enigma-tabpane *.tab-context-area {
    -fx-background-color: #fafcfb;
}

.tab-gridpane {
    -fx-background-color: #fafcfb;
}

.tab-scrollpane {
    -fx-background-color: #fafcfb;
}